.main-container {
    padding: 20px;
    display: flex;
    .first-container {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        .upper-container {
            display: flex;
            padding: 0px 20px;
            align-items: center;
            justify-content: space-around;
            .name-container {
                flex-basis: 50%;
                .input-name {
                    width: 80%;
                    border-radius: 25px;
                    height: 28px;
                    outline: 0px;
                    background: none;
                    border: 1px solid black;
                    line-height: 16px;
                    font-size: 16px;

                    &:active {
                        outline: none;
                    }
                }
            }
            .ability-container {
                flex-basis: 50%;
                .input-name {
                    width: 80%;
                    border-radius: 25px;
                    height: 28px;
                    outline: 0px;
                    background: none;
                    border: 1px solid black;
                    line-height: 16px;
                    font-size: 16px;

                    &:active {
                        outline: none;
                    }
                }
            }
        }
        .lower-container {
            padding: 20px;
            .input-task {
                width: 91%;
                border-radius: 25px;
                height: 28px;
                outline: 0px;
                background: none;
                border: 1px solid black;
                line-height: 16px;
                font-size: 16px;

                &:active {
                    outline: none;
                }
            }
        }
    }
    .second-container {
        flex-basis: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .input-btn {
            background-color: $hr_accent;
            width: 80%;
            height: 32px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
